.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.6rem;
  padding: 0 2.4rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin-right: 5rem;
}

.main-nav-link,
.logo:link,
.main-nav-link,
.logo:visited {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1f2937;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff4757;
}

.main-nav-link.nav-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1f2937;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
  background-color: white;
  border: none;
}

.main-nav-link.nav-btn:hover{
  color: #ff4757;
}

.main-nav-link.nav-cta {
  color: white;
  background: #ff4757;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover {
  transform: translateY(-4px);
  color: white !important;
}

.logo {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav-link.logout-btn {
  border: #d1d5db 1px solid;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.main-nav-link.logout-btn:hover {
  background-color: #ff4757;
  color: white;
  transform: translateY(-3px);
}

.logo img {
  width: 120px;
  height: auto;
  display: block;
}
