.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.6rem;
  padding: 0 2.4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
   background: linear-gradient(to right, #1e1e2f, #252540);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin-right: 5rem;
}

.main-nav-link,
.logo:link,
.main-nav-link,
.logo:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1e90ff;
}
.logo {
  margin-left: 5rem;
}
