body {
    display: flex;
    flex-direction: column; /* Fixes alignment */
    justify-content: center;
    align-items: center;
 
    background: linear-gradient(to right, #1e1e2f, #252540);
    font-family: 'Poppins', sans-serif;
    color: #fff;
 
}

